body{
    background-color: rgb(32, 53, 33)
    
}

header{

    text-align: center;
    padding: 30px 0;

    color: aliceblue;
    background-color: rgb(32, 53, 33);
}

.glow {
    position: absolute;
    mix-blend-mode: screen;
    animation: glowing 1s infinite;
}

@keyframes glowing {
    from { box-shadow: 0 0 100px 75px rgb(34, 76, 36); }
    to { box-shadow: 0 0 100px 75px rgb(34, 76, 36); }
}