body{
    background-color: rgb(5, 11, 31)
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: rgb(193, 224, 225);
    padding-top: 0.5rem;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: left;
    color: grey;
    padding-top: 100px;
    padding-right: 400px;
    padding-left: 300px;
    padding-bottom: 10px;
}

.p2{
    padding-top: 0px;
}

.p3{
    padding-top: 0px
}

.container{
    display: grid;
    grid-template-columns: 8vw 87vw;
    grid-template-rows: 17vh 79vh;
    min-height: 100%;
    text-align: center;
}

.nav-bar{
    grid-row: 2 / end;
    grid-column: 1 / 1;
}

.Top-Header{
    grid-row: 1 / 1;
    grid-column: 1 / end;
}

.Main-Section{
    grid-row: 2 / end;
    grid-column: 2 / end;
    color: white;
}

.nav-bar-elements{
    display: flex;
    flex-direction: column;
    height: 79vh;
    justify-content: center;
}

.nav-bar-elements > div{
    padding-top: 10px;
    padding-bottom: 10px;
}

.glow {
    position: fixed;
    mix-blend-mode: screen;
    animation: glowing 1s infinite;
}

@keyframes glowing {
    from { box-shadow: 0 0 150px 100px rgb(37, 69, 53); }
    to { box-shadow: 0 0 150px 100px rgb(37, 69, 53); }
}

.logo-image{
    height: 30px;
    width: 30px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 15px;
}