body{
    background-color: rgb(7,26,3)
}

.container{
    display: grid;
    grid-template-columns: 33vw 33vw 10vw 20vw;
    grid-template-rows: 7% 400px auto auto auto;
    min-height: 300vh;
    text-align: center;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: rgb(214,211,174);
    padding-top: 1.5rem;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: rgb(214,211,174);
    padding: 100px;
}

b{
    color: rgb(155, 155, 155);
}

.headshot-photo{
    height: 250px;
    width: 225px;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-right: 75px
}

.Top-Header{
    grid-column: 1 / end;
    grid-row: 1 / 1;
}

.About-Me{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

.About-Me-Text{
    grid-column: 2 / 4;
    grid-row: 2 / 2;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: left;
    color: grey;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.Headshot{
    grid-column: 4 / end;
    grid-row: 2 / 2;
    border: 1px solid black;
}

.Projects{
    grid-column: 1 / 1;
    grid-row: 3 / 3;
}

.Project-Cards{
    grid-column: 2 / end;
    grid-row: 3 / 3;
}

.Experience{
    grid-column: 1 / 1;
    grid-row: 4 / 4;
}

.Timeline{
    grid-column: 2 / end;
    grid-row: 4 / 4;
}

.Education{
    grid-column: 1 / 1;
    grid-row: 5 / 5;
}

.Education-block-1{
    grid-column: 2 / 2;
    grid-row: 5 / 5;
}

.Education-block-2{
    grid-column: 3 / end;
    grid-row: 5 / 5;
}

.glow {
    position: fixed;
    mix-blend-mode: screen;
    animation: glowing 1s infinite;
}

@keyframes glowing {
    from { box-shadow: 0 0 150px 100px rgb(37, 69, 53); }
    to { box-shadow: 0 0 150px 100px rgb(37, 69, 53); }
}