.Project-cards{
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 0px;
    height: auto;
    width: 800px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #eee;
    user-select: none;
}

.one-card{
    user-select:none;
    margin-left: 0px;
    background-color: #515a6a;
    background: linear-gradient(0deg, rgb(78, 86, 101) 0%, rgba(55, 0, 103, 0.5) 100%);
    box-shadow: 0 7px 20px 5px #24242488;
    border-radius: .7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: .5s all;
}

.main-card-body{
    display: flex;
    flex-direction: column;
    width: 245px;
    padding: 1rem;
}

ins{
    text-decoration: none;
}

hr{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ada9a955;
    margin-top: 0;
}

.project-image{
    border-radius: .5rem;
    max-width: 100%;
    object-fit: cover;
}

h2{
    font-size: 18px;
}

.card-description{
    font-size: 14px;
    margin: .5rem 0;
    color: #a89ec9;
}

.card-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-info .card-date{
    width : 90px;
    display: flex;
    align-items: center;
    color: #a89ec9;
    margin-right: .2rem;

    .card-date-description{
        font-size: 14px;
        padding-left: 4px;
        ins{
            margin: .5rem;
            margin-bottom: .4rem;
        }
    }
}

.card-icons{
    .card-image-icon{
        padding-left: 10px;
        height: 25px;
        width: 25px;
    }
}