#Main-Section-Experience{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.main-timeline{
    display: flex;
	justify-content: space-around;
	align-items: center;
	width: auto;
	height: 100px;
	max-width: auto;
	position: relative;
	z-index: 0;
}

.timestamp{
    width: auto;
	height: auto;
	background-color: rgb(5, 11, 31);
	position: relative;
	border-radius: 50%;
}
