#Main-Section-Experience{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
    border: 1px solid red;
}

.main-timeline{
    display: flex;
	justify-content: space-around;
	align-items: center;
	width: 1000px;
	height: 100px;
	max-width: 1000px;
	position: relative;
	z-index: 0;
    border: 1px solid green;
}

.timestamp{
    width: 25px;
	height: 25px;
	background-color: rgb(124, 128, 141);
	position: relative;
	border-radius: 50%;
    border: 1px solid yellow;
}

.timestamp:hover{
    cursor: pointer;
    border: 1px solid green;
}

.timestamp::before, 
.timestamp::after{
    content: '';
	display: block;
	position: absolute;
	z-index: -1;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgb(124, 128, 141);
	width: calc(1000px /10);
	height: 5px;
	max-width: calc(1000px /10);
}

.timestamp::before{
    left: calc((-1000px / 10) + (25px / 2));
}

.timestamp::after{
    right: calc((-1000px / 10) + (25px / 2));
}
