#Main-Section-Experience{
    display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
	width: 100%;
	height: 100%;
}

.main-timeline{
    display: flex;
	justify-content: space-around;
	align-items: center;
	width: 1000px;
	height: 200px;
	max-width: 1000px;
	position: relative;
	z-index: 0;
    margin-top: 100px;
}

.timestamp{
    width: 25px;
	height: 25px;
	background-color: #3e7053;
	position: relative;
	border-radius: 50%;
}

.timestamp:hover{
    cursor: pointer;
}

.timestamp::before, 
.timestamp::after{
    content: '';
	display: block;
	position: absolute;
	z-index: -1;
	top: 50%;
	transform: translateY(-50%);
	background-color: #3e7053;
	width: calc(1000px /10);
	height: 5px;
	max-width: calc(1000px /10);
}

.timestamp::before{
    left: calc((-1000px / 10) + (25px / 2));
}

.timestamp::after{
    right: calc((-1000px / 10) + (25px / 2));
}

.timestamp.active{
    background-color: rgb(55, 255, 139);

    .ind-time{
        font-weight: 700;
		&::before{
            color: rgb(193, 224, 225);
            font-size: 16px;
        }
		&::after{
            color: rgb(193, 224, 225);
            font-size: 16px;
        }
    }
}

.timestamp.active::before{
    background: linear-gradient(45deg, #3e7053 10%, rgba(55, 255, 139, 0.688) 100%);
}

.timestamp.active::after{
    background-color: #AEB6BF;
}

.timestamp.active ~ .timestamp{
    &, &::before, &::after{
        background-color: #AEB6BF;
    }
}

.timestamp{
    .ind-time {
        color: rgb(145, 165, 165);
        width: 1px;
        height: 1px;
        position: absolute;
        top: 100%;
        visibility: hidden;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .ind-time::before,
    .ind-time::after {
        visibility: visible;
        position: absolute;
        left: 50%;
    }
    
    .ind-time::after {
        content: attr(data-year);
        top: 25px;
        font-size: 16px;
    }
    
    .ind-time::before {
        content: attr(data-info);
        top: -65px;
        width: 120px;
        font-size: 14px;
        text-indent: -10px;
    }
    
}

.timestamp-description{
    width: 1000px;
    height: 250px;
    background-color: #1f3051;
    background: linear-gradient(0deg, #1f3051 0%, rgba(15, 0, 103, 0.5) 100%);
    border-radius: 2%;
	max-width: 1000px;
    border: 1px solid none;
}

.timestamp-description .timestamp-text{
	display: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	&.active{
        display: block;
    }
}

.timestamp-title{
    color: rgb(193, 224, 225);
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
}

.timestamp-under-text{
    padding-left: 10px;
    margin-top: 10px;
    color: rgb(193, 224, 225);
    font-size: 16px;
    height: 205px;
    border: 1px solid none;
}

.real-text-timestamp{
    margin: 5px;
    padding-left: 10px;
    margin-top: 10px;
    color: rgb(214, 237, 238);
    font-size: 16px;
    display: block;
}

.real-text-timestamp p b{
    color: rgb(129, 173, 175);
}